
  body {
    margin: 0;
    padding: 0;
    border: 7px solid #000000;
    }
  .button{
    margin:14px 0;
    text-align: center;
  }
.button button{
    outline:none;
    padding:8px 16px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 400;
    background: black;
    color: white;
    cursor:pointer;
    border:2px solid transparent;
    transition: all 0.4s ease;
  }
.button button:hover{
    border-color:black;
    background-color: white;
    color:black;
  }